*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
}
html{
	font-size:14px;
	font-family:'Microsoft YaHei', 'Droid Sans Fallback', SimHei, Arial, Helvetica, tahoma, sans-serif;
}
a{
	text-decoration: none;
	
}
img{
	width: 100%;
}
.main-category{
	padding: 2rem 0.3rem 0;
	overflow: hidden;
	}
.main-category .class-item {
    text-align: center;
    margin-bottom: 1.3rem;
    float: left;
    width: 33%;
    height: 8rem;
}
.class-item .class-item-img{
    width: 4.8rem;
    height: 4.8rem;
    margin: 0 auto .65rem;
   }
.class-item-img img{
	border-radius: 50%;
	width: 100%;
}
.class-item-font{
	font-size:.9rem;
	color: #666666;
}
