/*头部*/
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
}
html{
	font-size:14px;
	font-family:'Microsoft YaHei', 'Droid Sans Fallback', SimHei, Arial, Helvetica, tahoma, sans-serif;
}
a{
	text-decoration: none;
	
}
img{
	width: 100%;
}
header{
border-bottom: 1px solid rgba(0,0,0,.18);
}
header .header-logo{
	height:44px;
}
.header-logo{
	background: #fff;
	width: 100%;
	overflow: hidden;
}
.header-logo .header-logo-left-wraper{
		    width: 120px;
		    height: 35px;
		    float: left;
		}
.header-logo-left {
    display: block;
    width: 60px;
    height: 29px;
    background:url(../img/logo.png) no-repeat;
    background-size: 60px 29px;
    margin-left: 1rem;
    margin-top: 0.4rem;
}
.header-logo-right {
    float: right;
    width: 120px;
    height: 44px;
}
.header-logo-right .icon-sousuo{
	position: absolute!important;
	top: 0.2rem!important;
	right: 1rem!important;
	font-size: 26px;
	color:orange;
	float: right;
}
.header-nav{
	color: #666;
	height: 38px;
	line-height: 38px;
	background:#fff;
	}
.active{
	color: orange;
}
.header-nav-list li{
	float: left;
	width: 25%;
	text-align: center;
	list-style:none;
}
.header-nav-list li a{
	width:100%;
	font-size: 16px;
	display: block;
	color: #666;
}